# Odoo
ODOO_URL=https://tu-dominio-odoo.com
ODOO_DB=PRODUCCION
ODOO_USER=admin
ODOO_PASSWORD=tu_password

# WooCommerce (solo para PriceChangerWeb.py)
WC_API_URL=https://tu-tienda.com/wp-json/wc/v3
WC_CONSUMER_KEY=ck_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WC_CONSUMER_SECRET=cs_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
